{:deps true
 :dev-http {8080 "public"}
 :builds {:app
          {:target :browser
           :modules {:main {:entries [app.core]
                            :init-fn app.core/init}}
           :devtools {:preloads [uix.preload devtools.preload]}}}}
