:root {
    --color-accent: #266cf5;
    --color-text: #173878;
}

html {
    box-sizing: border-box;
}

html * {
    box-sizing: inherit;
}

body {
    margin: 0;
    font: 400 14px 'Inter', sans-serif;
    letter-spacing: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga" on;
    line-height: 1.4;
    text-rendering: optimizeLegibility;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

input {
    font-family: 'Inter', sans-serif;
}

a {
    color: var(--color-accent);
    font-weight: 500;
}

.app {
    display: flex;
    flex-direction: column;
    width: 460px;
    background: #fafafa;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    border: 2px solid var(--color-accent);
}

.app-header {
    display: flex;
    justify-content: center;
    padding: 8px 0;
}

.app-footer {
    text-align: center;
    padding: 8px 0;
}

.text-input {
    font-size: 18px;
    padding: 8px 12px;
    border-left: none;
    border-right: none;
    border-top: 2px solid var(--color-accent);
    border-bottom: 2px solid var(--color-accent);
    color: var(--color-text);
}
