.todo-item {
    border-bottom: 2px solid var(--color-accent);
    font-size: 18px;
    padding: 8px 12px;
    background: rgba(0, 0, 255, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 500;
}

.todo-item-control {
    width: 20px;
    height: 20px;
    margin: 0 12px 0 0;
}

.todo-item-text {
    flex: 1;
    color: var(--color-text);
}

.todo-item-delete-button {
    border: none;
    background: transparent;
    font-size: 20px;
    color: #ff3c3c;
    cursor: pointer;
}

.todo-item-text-field {
    font-size: 18px;
    border: none;
    background: transparent;
    color: var(--color-text);
    outline: none;
    flex: 1;
}
